/* The * selector selects all elements.
*{

}
*/
:root{
    /* Variables */
    --panel-bg-color: rgb(182, 182, 182);
    --card-bg-color: gray;

    /* HTML Doc Properties*/
}

body{
    
}


.panel{
    
}

.card{
    box-shadow: 3px 3px 3px var(--panel-bg-color);
}

#head{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header{

}

h1{

}

#maps{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#natFronts{
    background-color: var(--card-bg-color);
}

#stRdr{
    background-color: var(--card-bg-color);
}

#forecast{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#current{
    background-color: var(--card-bg-color);
}

#oneDay{
    background-color: var(--card-bg-color);
}

#twoDay{
    background-color: var(--card-bg-color);
}

#threeDay{
    background-color: var(--card-bg-color);
}